<template name="coursesShow">
  <br>
  <div class="show container">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{ course.name }}</span>
        <p class="description">
          {{ course.teacher }}<br>
          Módulo {{ currentModule }}<br>
          <span class="badge red white-text left">{{ course.abbreviation }}</span>
        </p>
        {{# if course.getCurrentSession.students }}
          <p>{{ course.getCurrentSession.students.length }} alumnos han marcado asistencia</p>
        {{/ if }}
      </div>
    </div>
    <br>
    {{# if course.getCurrentSession }}
      <div class="session">
        {{> coursesShowSession course=course }}
      </div>
    {{ else }}
      <div class="create-session center">
        <p><a class="btn start-session">Empezar Nueva Sesión</a></p>
      </div>
    {{/ if }}
  </div>
</template>


<template name="coursesShowSession">
  <div class="add-student">
    <form>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="rut" type="number" pattern="\d*" class="form-control input-lg ios-input">
          <label for="rut">RUT sin digito verificador</label>
        </div>
      </div>
      <div class="row center">
        <a class="btn">Marcar Asistencia</a>
      </div>
    </form>
  </div>
</template>