.show {
  display: none;

  .card .card-content .card-title {
    line-height: 28px;
    margin-bottom: 10px;
  }

  .card .card-content p {
    margin-top: 10px;
  }

  .badge {
    position: static;
    float: none !important;
    border-radius: 2px;
    padding: 2px 4px;
    font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace;
    font-size: 12px;
  }
}