<template name="coursesShow">
  <div class="show">
    <div class="description">
      <h3>{{ course.name }}</h3>
      <p class="teacher">{{ course.teacher }}</p>
      <p class="text-muted module">Módulo {{ currentModule }}</p>
      {{# if course.getCurrentSession.students }}
        <p>{{ course.getCurrentSession.students.length }} alumnos han marcado asistencia</p>
      {{/ if }}
    </div>
    <hr>

    {{# if course.getCurrentSession }}
      <div class="session">
        {{> coursesShowSession course=course }}
      </div>
    {{ else }}
      <div class="create-session text-center">
        <p><a class="ios-link link-ios-primary start-session">Empezar Nueva Sesión</a></p>
      </div>
    {{/ if }}

    <p class="text-center">
      <a class="ios-link link-ios-default" href="{{ pathFor 'courses.index' }}">Volver</a>
    </p>
  </div>
</template>


<template name="coursesShowSession">
  <div class="add-student">
    <form>
      {{# if currentError }}
        <div class="alert alert-danger">
          <p>{{ currentError }}</p>
        </div>
      {{/ if }}
      <div class="form-group">
        <input type="number" pattern="\d*" class="form-control input-lg ios-input" placeholder="RUT sin digito verificador">
      </div>
      <div class="form-group text-center">
        <a class="ios-link link-ios-primary">Marcar Asistencia</a>
      </div>
    </form>
  </div>
</template>