<template name="coursesIndex">
  <div class="index">
    <ul class="collection">
      {{# each courses }}
        <li class="collection-item course waves-effect">
          <p class="title">
            <b>{{ name }}</b><br>
            <span class="grey-text text-darken-1">{{ teacher }} Sección {{ section }} </span>
            <br>
            <span class="badge red white-text left">{{ abbreviation }}</span>
          </p>
        </li>
      {{/ each }}
    </ul>
    <br>
    <div class="container center">
      <a class="btn-flat red-text waves-effect btn-logout">Desconectarse</a>
    </div>
    <br>
  </div>
</template>