<template name="collectionsCoursesAsistance">
  {{# Layout template="orionMaterializeHeaderContainer" }}
    Asistencia
  {{/ Layout }}
  {{# Layout template="orionMaterializeContentContainer" }}
    {{# if result }}
      <p><b>{{ result.course.abbreviation }}</b></p>
      <p>{{ result.course.name }}</p>
      <p>Sección {{ result.course.section }} - {{ result.course.teacher }}</p>
      <p>{{ result.totalSessions }} sesiones</p>
      <br>

      {{# each result.asistance }}
        <p><b>{{ rut }}-{{ digit }}</b></p>
        <p>{{ name }}</p>
        <p>Asistió a {{ asisted }} de {{ result.totalSessions }} clases - {{ percentage }}%</p>
        <div class="progress">
          <div class="determinate" style="width: {{ percentage }}%"></div>
        </div>
        <br>
      {{/ each }}
    {{ else }}
      {{> loading }}
    {{/ if }}
  {{/ Layout }}
  {{# Layout template="orionMaterializeButtonsContainer" }}
    <a href="{{ pathFor 'collections.courses.index' }}" class="btn">Volver</a>
    <a href="/download-course/{{ courseId }}" target="_blank" class="export-btn btn">Exportar Detalle</a>
  {{/ Layout }}
</template>