<template name="upload">
	{{# Layout template="simpleThemeSmallContentOffset" }}
    {{# Layout template="simpleThemeTitle" }}
      Upload the xlsx
    {{/ Layout }}

    {{# Layout template="simpleThemeContentContainer" }}
      {{# if showFileInput }}
  			<div class="clearfix">
  				<span class="btn btn-primary btn-file">
  					Select File <input type="file" class="filebag">
  				</span>
  			</div>
			{{ else }}
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%">
					</div>
				</div>
			{{/ if }}
    {{/ Layout }}
  {{/ Layout }}
</template>